<div class="container">
    <H1> User manager</H1>
    <div class="row">
        <a class="btn btn-primary" routerLink="/user/:userId"> New User </a>
    </div>
    <div class="products table">
        <table>
            <thead class="table-header">
                <tr>
                    <th class="table-cell table-header-node">
                        <div class="table-cell-wrapper">
                            <p> Username </p>
                        </div>
                    </th>
                    <th class="table-cell table-header-node">
                        <div class="table-cell-wrapper">
                            <p> Email </p>
                        </div>
                    </th>
                    <th class="table-cell table-header-node">
                        <div class="table-cell-wrapper">
                            <p> PhoneNumber </p>
                        </div>
                    </th>
                    <th class="table-cell table-header-node">
                        <div class="table-cell-wrapper">
                            <p> Action </p>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="table-row" *ngFor="let user of users">
                    <td class="table-cell table-cell-selection">
                        <div class="table-cell-wrapper">
                            <p>
                                {{user.userName}}
                            </p>
                        </div>
                    </td>
                    <td class="table-cell table-cell-selection">
                        <div class="table-cell-wrapper">
                            <p>
                                {{user.email}}
                            </p>
                        </div>
                    </td>
                    <td class="table-cell table-cell-selection">
                        <div class="table-cell-wrapper">
                            <p>
                                {{user.phoneNumber}}
                            </p>
                        </div>
                    </td>
                    <td class="table-cell table-cell-selection">
                        <ng-container *ngIf="securityService.checkScope('write:user'); else noPermit">
                            <button class="btn btn-info btn-sm" routerLink="/user/{{user.id}}">
                                Modify
                            </button>
                            <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">
                                Delete
                            </button>
                        </ng-container>
                        <ng-template #noPermit>
                            You can't write!
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>